.Leave{
    font-family:sans-serif
}
.Leave p {
    margin-top: 1px;
    margin-left: 15px;
    color: rgb(58, 180, 240);
    font-size: 14px;
}
.iconCheck{font-size: 24px; color: rgb(8, 224, 58); cursor: pointer;}
.iconCheck:hover{font-size: 26px; color: rgb(26, 245, 77);}
.iconCross{font-size: 26px; color: rgb(173, 16, 16); cursor: pointer;}
.iconCross:hover{font-size: 28px; color: rgb(207, 8, 8);}